:host {
    --sidebar-bg: #1e1e2e;
    --chat-bg: #232336;
    --message-sender-bg: #2e2e46;
    --message-receiver-bg: #4c4c86;
    --text-color: #e9e9e9;
    --input-bg: #2a2a40;
    --chat-border-width: 2px;
    --chat-border-style: solid;
    --chat-border-color: rgba(255, 255, 255, 0.1);;
}