/* You can add global styles to this file, and also import other style files */
// Em seu arquivo theme.scss principal
@use "@angular/material" as mat;

html {
    color-scheme: dark;
    @include mat.theme((color: (primary: mat.$azure-palette,
                tertiary: mat.$cyan-palette,
            )
        ));
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}