<div class="main-content">
    <!-- Chat header -->
    <mat-toolbar color="primary" class="chat-header">
        <span class="app-name">ChatHub</span>

        <span class="rommName">{{selectedRoom()}}</span>

        <div class="chat-header-actions">
            <button mat-icon-button title="Clear chat" (click)="clearChat()" class="icon-button-with-bg bg-clear">
                <mat-icon>delete_sweep</mat-icon>
            </button>
            <button mat-icon-button (click)="leaveRoom()" title="Sair da Sala" class="leaveRoom icon-button-with-bg bg-exit">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-toolbar>

    <!-- Messages area -->
    <div class="messages-container">
        @if (hasMessages()) {
        @for (msg of chatService.messages(); track msg) {
        <div [class.message-sent]="msg.userName === currentUser()"
            [class.message-received]="msg.userName !== currentUser()">
            <div class="message-bubble">
                <div class="message-user">{{msg.userName}}</div>
                <div class="message-text">{{msg.content}}</div>
                <!-- <div class="message-time">{{msg.DateTime | date:'dd/MM/yyyy'}}</div> -->
            </div>
        </div>
        }
        } @else {
        <div class="no-messages">
            No messages yet. Start a conversation!
        </div>
        }
    </div>

    <!-- Message input -->
    <div class="input-container">
        <mat-form-field appearance="outline" class="message-input" subscriptSizing="dynamic">
            <input class="white-text" matInput [ngModel]="newMessage()" (ngModelChange)="newMessage.set($event)"
                placeholder="Type a message..." (keyup.enter)="sendMessage()">
        </mat-form-field>
        <button class="send-message" mat-fab color="primary" (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </div>
</div>